<!DOCTYPE html>
<html>
    <head>
        <title> This is my footer </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap">
        <style type="text/css">
            .footer{
                font-family: 'Heebo', sans-serif;
                font-weight:500;
                font-size:20px;
                font-weight: bold;
                text-align: center;
                color: #C84630;
                margin-top: 42%;
            }
            footer a{
                text-decoration: none;
                color: #C84630;
            }
        </style>
    </head>

    <body>
        <div class = "footer">
            <footer>
                Created by <a href="https://github.com/Sawh0006">Mahima Sawhney</a>, <a href="https://github.com/IrinaSalikhova">
                    Irina Salikhova</a>, <a href="https://github.com/lpch0411">Hung Lai</a>, <a href="https://github.com/Harrislarmena">
                    Harris Larmena</a>, <a href="https://github.com/Ramim-A">Ramim Aditya</a>, <a href="https://github.com/Hrn-Creator">
                    Harryson Belizaire</a> and <a>Mahmoud Toumar</a> 
            </footer>
        </div>
    </body>
</html>