<!DOCTYPE html>
<html>
    <head>
        <title> This is my waitlist form </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap">
        <style type="text/css">
            .waitlist-form{
                font-family: 'Heebo', sans-serif;
                font-weight:500;
                font-size:25px;
                font-weight: bold;
                text-align: center;
                margin-top: 90pt;
                color: #C84630;
            }
        </style>
    </head>

    <body>
        <div class = "waitlist-form">
            <table>
                
            </table>
        </div>
    </body>
</html>